<%= content_for :title, "Automatická kontrola podnetu" %>

<section class="report">
  <h1>Podnet má problém</h1>

  <% if @draft.errors[:base].any? %>
    <div class="report-summary-block-con">
      <div class="report-warning">
        <div class="title">Samospráva nie je zapojená do projektu Odkaz pre starostu</div>
        <div class="description">
          <p>Tento podnet nemôžeme zverejniť, nakoľko samospráva nie je zapojená do projektu Odkaz pre starostu. </p>
        </div>
        <%= link_to "Viac info", "/pridajte-sa", class: "button button-transparent" %>
      </div>
    </div>

    <%= link_to "Upraviť podnet", issues_draft_summary_path(@draft), class: "button button-transparent" %>
  <% elsif @draft.errors[:checks].any? %>
    <%= render partial: 'checks', object: @draft.checks %>
  <% end %>
</section>
