<!-- Zoznam podnetov -->
<div class="wrapper-list">
  <div class="podnet-block-con">
    <%= render @issues %>
  </div>
  <%= render partial: 'shared/pagination', locals: { objects: @issues} %>
</div>