<p class="ops-email-paragraph">
  V prípade, že by ste samospráve radi nechali pozitívnu spätnú väzbu, môžete tak urobiť prostredníctvom odkazu nižšie.
</p>
<p class="ops-email-paragraph">
  <%= ops_button "Dať pochvalu", new_praise_url %>
</p>
