<p class="ops-email-paragraph">
  <b>Ak chcete o nás počuť viac a pravidelnejšie, prihláste sa na odber newsletteru a sledujte nás na našom <%= link_to 'Facebooku', 'https://www.facebook.com/odkazprestarostu', target: '_blank', class: 'ops-email-link' %> alebo <%= link_to 'Instagrame', 'https://www.instagram.com/odkazprestarostu', target: '_blank', class: 'ops-email-link' %>.</b>
</p>
<p class="ops-email-paragraph">
  <%= ops_button "Odoberať newsletter", edit_profile_url %>
</p>
