<p class="ops-email-paragraph">
  <b>Dajte o Vašom podnete vedieť aj prostredníctvom sociálnych sietí.</b>
</p>
<p class="ops-email-paragraph">
  <%= ops_button "Facebook", "https://www.facebook.com/sharer/sharer.php?u=#{url_for @issue}" %>
  <%= ops_button "Instagram", "https://www.instagram.com/odkazprestarostu.sk" %>
</p>
