<p class="ops-email-notice">
  Toto upozornenie ste dostali na základe Vášho prihlásenia k odberu nových informácií o riešení podnetu. Pokiaľ o ďalšom riešení podnetu nechcete byť informovaný, kliknite na
  <%= link_to "odhlásenie z odberu noviniek", unsubscribe_subscriptions_url(token: @subscription.email_unsubscribe_token), target: "_blank", class: "ops-email-notice-link" %>.
  Pokiaľ o ďalšom riešení sledovaných podnetov nechcete byť informovaný e-mailom, kliknite na
  <%= link_to "odhlásenie z odberu noviniek e-mailom", unsubscribe_global_subscriptions_url(token: @user.email_global_unsubscribe_token), target: "_blank", class: "ops-email-notice-link" %>.
</p>