<td class="ops-email-general-con">
  <p class="ops-email-title">Váš podnet bol zverejnený</p>
  <p class="ops-email-paragraph">Dobrý deň, Váš podnet <b>Poškodený cyklostojan</b>, ktorý ste pridali
    <b>12.5.2024</b> na portál Odkaz pre starostu bol zverejnený a odoslaný zodpovedným pracovníkom a pracovníčkam samosprávy.
  </p>
  <p class="ops-email-paragraph">Ak v súčasnosti, alebo v budúcnosti budete mať doplňujúcu informáciu o aktuálnom stave alebo o riešení Vášho podnetu, môžete nám ju poskytnúť pridaním komentára k podnetu, ideálne aj s priložením fotografie aktuálneho stavu.</p>
  <p class="ops-email-paragraph">O reakcii samosprávy, ako aj prípadnej reakcií ostatných návštevníkov portálu Vás zakaždým upozorníme e-mailom.</p>
  <p class="ops-email-paragraph">Ďakujeme za Vašu spoluprácu.</p>
  <p class="ops-email-paragraph">S pozdravom,<br><b>Tím portálu Odkaz pre starostu</b></p>
  <p class="ops-email-paragraph"><b>Dajte o Vašom podnete vedieť aj prostredníctvom sociálnych   sietí.</b></p>
  <p class="ops-email-paragraph"><a href="" target="_blank" class="ops-email-button">Facebook</a> <a href=""   target="_blank" class="ops-email-button">Instagram</a></p>
  <p class="ops-email-paragraph"><b>Páči sa Vám, čo robíme? Staňte sa našimi podporovateľmi a pomôžte   nám zlepšovať naše samosprávy.</b></p>
  <p class="ops-email-paragraph"><a href="" target="_blank" class="ops-email-button">Podporte nás</a></p>
  <p class="ops-email-paragraph"><b>Ak chcete o nás počuť viac a pravidelnejšie, prihláste sa na odber   newsletteru.</b></p>
  <p class="ops-email-paragraph"><a href="" target="_blank" class="ops-email-button">Odoberať   newsletter</a></p>
  <p class="ops-email-notice">Toto upozornenie ste dostali na základe Vášho prihlásenia k odberu nových informácií o riešení podnetu. Pokiaľ o ďalšom riešení podnetu nechcete byť informovaný, kliknite na <a href="" target="_blank" class="ops-email-notice-link"><b>odhlásenie z odberu     noviniek</b></a>. Pokiaľ o ďalšom riešení sledovaných podnetov nechcete byť informovaný e-mailom, kliknite na <a href="" target="_blank" class="ops-email-notice-link"><b>odhlásenie z     odberu noviniek e-mailom</b></a>.</p>
</td>
